<div class="slide flexNormal">
    <div class="back_slide list">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="slideNumber flexNormal blue">1</div>
    <div class="slideNumber flexNormal ">2</div>
    <div class="slideNumber flexNormal">3</div>
    <div class="next_slide list">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>